.button {
  padding: 0.5rem 1rem;
  background-color: blue;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
}

input {
  width: 100%;
}